fastapi
uvicorn
python-multipart
opencv-python-headless
numpy
tensorflow==2.15.0
pillow
requests
sqlalchemy
psycopg2-binary
python-dotenv
flask-socketio
flask-cors
flask-jwt-extended
passlib
supabase
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
imutils
google-generativeai